body{
    background: #fff;
}
#container{
    width: 99%;
    margin: 10px auto;
}

#img1{
    position: relative;
    max-width: 100%;
    height: auto;

}

header{
    
    text-align: center;
    margin: 0 auto;
    color: #224d84;
    width: 100%;
    /* padding: 1%; */
    background-image: url("../images/water-works.jpg"); 
    background-size: cover;
    height: 40vh;
}

#header-p{
    /* color: #ffffb7; */
    margin-top: 10%;
    font-size: 1.4em;

}


 h1{
     font-size: 3em;
 }




#img2{
    float: right;
    padding-left: 5px;
    width: 350px;
}

#modal{
    position: fixed;
    text-align: center;
    padding: 10px;
    width: 75%;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px #333;
    background: #fff;
    display:none;
    /* opacity: 1.0;
    transition: opacity 4s;
    animation: fadeIn 4s; */
}

@keyframe fadeIn {
    from{opacity: 0.1;}
    to{opacity: 1.0;}
}

#x-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
}

#more-button{
    
    bottom: 5px;
    background-color: #399;
    border-radius: 10%;
    font-size: 1.5em;
    margin: 0 auto;
    width: 30%;
    display: block;
}

@media (max-width: 700px){
    #header-p{
        font-size:1em;
      
    }

    #modal{
        position: fixed;
        text-align: center;
        padding: 5px;
        width: 95%;
        height: 400px;
        top: 30%;
    }
}